:root {
  --white: white;
  --dark-gray: rgb(56, 56, 56);
  --light-gray: rgb(112, 112, 112);
  --green: rgb(200, 227, 106);
  --light-green: color-mix(in srgb, var(--green), #fff 30%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  all: unset;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 16px;
  background-color: var(--green);
  color: var(--dark-gray);
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: var(--light-green);
  }
}
