.sidebar {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 16px;

  > h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
  }
}

.sidebar__divider {
  border-color: var(--light-gray);
  border-style: solid;
}
