.item {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  > :nth-child(2) {
    flex: 1;
    margin-left: 8px;
  }
  cursor: grab;
  &:hover {
    background-color: color-mix(in srgb, var(--dark-gray), #000 10%);
  }
}

.removebtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}
